.gif_item{
    position: relative;
}

.gif_img {
    width: 100%;
    object-fit: cover;
}

.gif_title{
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    margin: 0 0 6px 0;
}