.container{
    display: grid;
    grid-template-columns: auto 350px;
    
}

.lastGifs{
    min-height: 100vh;
}
.mostPopulars{
    margin-left: 50px;
}


@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .mostPopulars{
        margin-left: 0;
    }
}