ul {
  text-align: center;
  padding: 0;
}

li {
  display: inline-block;
  color: rgb(112, 11, 226);
  background-color: rgb(0, 255, 0);
  box-shadow: 2px 2px ;
  margin: 3px;
  padding: 3px;
}

li:hover,
a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(23, 14, 75);
  box-shadow: 0px 0px ;
}

a {
  text-decoration: none;
  color: rgb(11, 11, 17);
  font-size: 24px;
}


@media (max-width: 1000px) {
  li {
    list-style: none;
  }
}