
input{
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    position: relative;
    left: 7px;
}

button{
    background-color: rgb(238, 47, 255);
    padding: 8px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border-left-color: white;
    font-size: 16px;
    font-weight: bold;
    color: white;
}