@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-content {
  background-color: #9359ff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  width: 200px;
  height: auto;
  margin: 0px;
  cursor: pointer;
}

.App-title {
  text-align: left;
  color: rgb(255, 255, 255);
}

h1{
  margin-top: -10px;
  color: rgb(247, 247, 247);
  font-size: 50px;
}

.align-title{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 400px) {
  .align-title h1 {
    display: none;
  }
}